:root {
  font-family:"proxima-soft", "Proxima Soft", "Proxima Nova Soft", Helvetica, Arial, sans-serif"
 }

 *{
  padding:0;
  margin:0;
  box-sizing: border-box;

 }
 .active-link{
 border:'none';
 border-bottom: 2px solid red;
 }
.hamburger{
  padding: 0.5rem;
  
}
.hamburger:hover{
  background-color: orange;
}
.closemenu{
  padding: 0.5rem;
}
.closemenu:hover{
  background-color: orange;
}
